
.video-background {
  position: relative;
  width: 100%;
  height: 100%;
}

#background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Pastikan video mengisi area tanpa terdistorsi */
  z-index: -1; /* Letakkan video di belakang konten */
}


